@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-stretch: normal;
    font-weight: 300 700;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

:root {
    --clr-primary: #631ceb;
    --clr-primary-dark: #4514a1;
    font-family: 'Montserrat', sans-serif;

    --gradient-secondary: linear-gradient(0deg, red, orange);
    --gradient-primary: linear-gradient(0deg, var(--clr-primary), var(--clr-primary-dark));
}

.text-white {
    text-shadow: .1rem .1rem .5rem var(--clr-primary);
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 4.5rem;
    margin: 1rem;

    background-color: white;
}

.btn-primary {
    --bs-primary: var(--clr-primary);
    --bs-btn-bg: var(--clr-primary);
    --bs-btn-hover-bg: var(--clr-primary-dark);
}

.page-icon {
    width: 5rem;
}

.btn-brand {
    position: relative;
    font-weight: 700;

    transition: all 300ms ease-in;
}

.btn-brand::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    right: 10px;
    bottom: 7px;
    z-index: -1;
    background-color: var(--clr-primary);
    border-radius: 0.2rem;
    scale: 0;
    transform-origin: bottom right;
    transition: all 300ms ease-in;
}

.btn-brand:hover {
    color: #f0f0f0;
}

@media  (max-width: 768px) {
    .change-color {
        color:  #f0f0f0;
    }
}

.btn-brand:hover::before {
    scale: 1;
}

.text-gradient {
    padding-block: 0.7rem;
    font-size: 4rem;
    color: transparent;
    background-image: var(--gradient-primary);
    background-clip: text;
    z-index: 1;
}

.border-red {
    border: 1px solid red;
}

.slide-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    aspect-ratio: 1 / 1;
}

.gradient-primary {
    background-image: var(--gradient-primary);
}

.custom-icon {
    font-size: 2em;
}

.custom-icon.bi-twitter {
    padding-top: 5.5px;
}

.custom-icon.bi-twitter:hover {
    color: rgb(5, 109, 206);
}

.custom-icon.bi-instagram:hover {
    color: rgb(211, 54, 15);
}

.custom-icon.bi-github:hover {
    color: black;
}

.shadow-top {
    box-shadow: 0rem -1rem 0.7rem rgba(0,0,0,.10);
}

footer {
    max-height: 300px;
}

body {
    background-image: url(./img/body-bg.png);
    background-attachment: local;
    background-position: -1rem;
    background-size: cover;
}



